//- extends ../layout/layoutInner

//- block header_inner 
//-     //- #login
//-     //-     #login-main
//-     //-         .container
//-     //-         img(src='/public/images/logo.svg', alt='')
//-     //-         .form-login
//-     //-             input.modal-input(id='', type='text', placeholder='Username or E-mail')
//-     //-             input.modal-input(id='', type='text', placeholder='Password')
//-     //-             button#btn-sign-in
//-     //-                 .sign-in Sign In
//-     //-             .action
//-     //-                 p.forgot
//-     //-                     a(href='#') Forgot Password?
//-     //-                 p.sign-up
//-     //-                     a(href='#') Sign Up
//-     //-         .footer
//-     //-             p.or or you can sign in with
//-     //-             .icon
//-     //-                     .ti-facebook
//-     //-                     .ti-instagram
//-     //-                     .ti-twitter
//-     //-                     .ti-more
//-     //-             .info
//-     //-             p This site is protected by reCAPTCHA and the Google
//-     //-             a(href='') Privacy Policy
//-     //-             span and 
//-     //-             a(href='') Terms of Service
//-     //-             span apply.
//- block footer_inner 

extends ../layout/layoutDefault

block header_default 


block footer_default 