/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.link-color {
    color: #000;
    font-weight: 470;
}

#wrapper-login {
    height: 900px;
    background-color: #eceff1;
    text-align: center;
    padding-top: 50px;
}

#login {
    text-align: center;
    padding: 40px 33px;
    border-radius: 30px;
    background-color: #fff;
    width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgb(0 0 0 / 8%);
}

#wrapper-login img {
    margin-bottom: 35px;
}

.form-control {
    margin-bottom: 20px;
}

.form-control:hover {
    border-color: #000;
}

.btn-primary {
    margin-top: 20px;
    width: 100%;
}

.action {
    display: flex;
    justify-content: space-between;
}

.footer {
    padding-bottom: 33px;
}

.signin-with {
    margin: 25px 80px;
}

.signin-with .or {
    text-align: center;
    text-decoration: overline #c2ccd2;
    text-decoration: ;
}

.list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
}

.info {
    text-align: center;
}
