@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Montserrat:wght@400;700&family=Roboto+Slab:wght@500&display=swap"
);

* {
    padding: 0;
    margin: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 992px) {
    .justify-content-lg-start {
        -ms-flex-pack: start !important;
        justify-content: space-between !important;
    }
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.text-bg-dark {
    color: #fff !important;
    background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 1)) !important;
    opacity: 0.9;
}

.text-end {
    display: flex;
}

.btn-outline-light {
    margin-right: 8px;
    border-radius: 30px;
    border: none;
}

.btn-outline-light:hover {
    transition: 0.6s;
}

.btn-warning {
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid #ffc107;
    color: #ffc107;
}

.brn-warning:hover {
    background-color: #ffc107;
    transition: 0.6s;
}

.d-flex {
    position: relative;
}

.nav {
    position: absolute;
    left: 0;
}

.nav li {
    /* border: 2px solid #fff; */
    margin: 0 10px;
    border-radius: 30px;
}

.nav li a {
    color: #fff;
    border-radius: 30px;
}

.nav li a:hover {
    color: #000;
    background-color: #fff;
    transition: 0.6s;
}