@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Montserrat:wght@400;700&family=Roboto+Slab:wght@500&display=swap"
);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

:root {
    scroll-behavior: smooth;
}

#main {
    /* background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 1)) !important; */
    overflow: hidden;
    z-index: 2;
    /* background-image: linear-gradient(to right bottom, #00b3ff, RGBA(33, 37, 41, var(--bs-bg-opacity, 1))); */
}

body {
    background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 1));
}

body.active {
    background-color: #fff !important;
}

#body {
    margin-top: 74px;
}

#toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 80px;
    height: 37px;
    display: block;
    background-color: #fff;
    border-radius: 100rem;
    margin: auto;
    /* box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
        inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1); */
    transition: 0.5s;
    cursor: pointer;
}

#toggle .indicator {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 36px;
    height: 34px;
    background: linear-gradient(to bottom, #1fa4e0, #00b3ff);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(255, 255, 255, 0.2), inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    border-radius: 100rem;
    transform: scale(0.9);
    transition: 0.5s;
}

#toggle.active .indicator {
    left: 41px;
    background: #fff;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(255, 255, 255, 0.2), inset 0 -4px 4px rgba(255, 255, 255, 0.2);
}

body.active {
    background-color: black;
}

#toggle.active {
    background-color: #00b3ff;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
        inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

#backtop {
    width: 50px;
    height: 50px;
    background-color: #00b3ff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    border-radius: 50%;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
}

#backtop i {
    color: #fff;
    font-size: 20px;
}

#header {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .8s ease-in-out;
    /* font-size: 16px; */
}

.sticky {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.sticky .nav li a {
    color: #000;
}

.sticky .btn {
    color: #00b3ff;
}

.sticky .nav li a:hover {
    color: #fff;
    background-color: #000;
}

.sticky .btn-outline-light:hover {
    background-color: #00b3ff;
    color: #fff;
}

.sticky #toggle {
    background-color: #000;
}

.sticky #toggle.active {
    background-color: #00b3ff;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
        inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

.sticky #toggle.active .indicator {
    background-color: #fff;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(255, 255, 255, 0.2), inset 0 -4px 4px rgba(255, 255, 255, 0.2);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 992px) {
    .justify-content-lg-start {
        -ms-flex-pack: start !important;
        justify-content: space-between !important;
    }
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.text-bg-dark {
    color: #fff !important;
    /* background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 1)) !important; */
    opacity: 0.9;
}

.text-end {
    display: flex;
}

.btn-log-in {
    background: transparent;
    border: transparent;
    margin-right: 10px;
}

.btn-log-in a {
    color: #00b3ff;
    text-decoration: none;
    padding: 8px 16px;
    /* border: 2px solid #00b3ff; */
    border-radius: 30px;
}

.btn-log-in a:hover {
    color: #fff;
    background-color: #00b3ff;
    transition: 0.6s;
}

.btn-sign-up {
    background: transparent;
    border: transparent;
}

.btn-sign-up a {
    color: #00b3ff;
    text-decoration: none;
    padding: 6px 16px;
    border: 2px solid #00b3ff;
    border-radius: 30px;
}

.btn-sign-up a:hover {
    color: #fff;
    background-color: #00b3ff;
    transition: 0.6s;
}

.d-flex {
    position: relative;
}

.nav {
    position: absolute;
    left: 0;
}

.nav li {
    /* border: 2px solid #fff; */
    margin: 0 10px;
    border-radius: 30px;
}

.nav li a {
    color: #fff;
    border-radius: 30px;
}

.nav li a:hover {
    color: #000;
    background-color: #fff;
    transition: 0.6s;
}

.search {
    background-color: #fff;
}

.intro-title {
    margin-bottom: 40px;
}

h1 {
    display: flex;
    /* font-size: 40px; */
    font-family: 'Bad Script', cursive;
    align-items: center;
    justify-content: center;
    /* margin: 56px 0 0; */
    color: transparent;
}

h1 span {
    animation: happy 3s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

h1 span:nth-child(2),
h1 span:nth-child(5),
h1 span:nth-child(7) {
    margin-left: 20px;
}

@keyframes happy {
    0% {
        color: #fff;
        filter: blur(2px);
        filter: hue-rotate(0deg);
        text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff;
    }

    30%,
    70% {
        color: #fff;
        filter: blur(2px);
        filter: hue-rotate(360deg);
        text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff;
    }

    100% {
        color: transparent;
        text-shadow: none;
        filter: blur(2px);
        filter: hue-rotate(0deg);
    }
}

.intro-content {
    margin-bottom: 40px;
}

.intro-chapter-base {
    /* background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 1)) !important; */
    padding-top: 150px;
    padding-bottom: 160px;
}

.intro-content {
    color: #919191;
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    /* top: 1000px; */
    width: 200px;
    height: 60px;
    margin: auto;
}

.button span {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 100rem;
    transition: 0.5s;
}

.button span a {
    color: #fff;
}

.button span:nth-child(2) {
    color: black;
    background-color: #00b3ff;
    z-index: 2;
    clip-path: polygon(62% 0, 100% 0%, 100% 100%, 62% 100%, 44% 50%);
}

.button span:nth-child(2):hover {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0% 50%);
}

.button span:nth-child(1):hover~span:nth-child(2) {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
}

.button span a {
    text-decoration: none;
}

#explore {
    width: 120%;
    height: 350px;
    /* margin-top: -180px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: brightness(0.8); */
    /* margin-top: 160px; */
    position: relative;
}

#explore::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: url("../../images/galaxy.jpg");
    /* clip-path: polygon(100% 50%, 0 0, 0 100%); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(0.8);
}

.row-base {
    position: relative;
}

#box {
    width: 160px;
    height: 160px;
    transform-style: preserve-3d;
    transition: 0.5s;
    animation: animate-box-3d 14s infinite linear;
    position: relative;
    margin: auto;
    /* top: 250px; */
}

@keyframes animate-box-3d {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    20% {
        transform: rotateX(-90deg) rotateY(130deg);
    }

    40% {
        transform: rotateX(50deg) rotateY(130deg);
    }

    60% {
        transform: rotateX(180deg) rotateY(-130deg);
    }

    80% {
        transform: rotateX(-50deg) rotateY(-70deg);
    }

    100% {
        transform: rotateX(0deg) rotateY(0deg);
    }
}

#box .card {
    height: 160px;
    width: 160px;
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 0px 10px #0cffe6, 0px 0px 20px #0cffe6, 0px 0px 30px #0cffe6, 0px 0px 40px #0cffe6, 0px 0px 50px #0cffe6;
    transition: all 2s;
}

#box .card img {
    width: 100%;
    height: 100%;
}

#box .card:nth-child(1) {
    left: 80px;
    transform: rotateY(-90deg);
}

#box .card:nth-child(2) {
    right: 80px;
    transform: rotateY(90deg);
}

#box .card:nth-child(3) {
    bottom: 80px;
    transform: rotateX(90deg);
}

#box .card:nth-child(4) {
    top: 80px;
    transform: rotateX(-90deg);
}

#box .card:nth-child(5) {
    transform: translateZ(-80px);
}

#box .card:nth-child(6) {
    transform: translateZ(80px);
}

.dots {
    position: absolute;
    inset: 0;
}

.dots::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 300px;
}

@keyframes animate-fullColor {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.col-md-6 {
    z-index: 2;
}

.base {
    position: absolute;
    /* padding-top: 220px; */
}

.base-title {
    color: #00b3ff;
    margin-bottom: 40px;
    text-shadow: 1px 1px #000;
}

.base-content {
    color: #fff;
    line-height: 30px;
    letter-spacing: 1px;
    text-shadow: 1px 1px black;
}

.base-link {
    color: #00b3ff;
    margin-top: 30px;
    text-shadow: 1px 1px black;
}

.base-link:hover {
    text-decoration: none;
}

.cube {
    position: relative;
    width: 200px;
    height: 200px;
}

.cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: animate-box 14s linear infinite;
}

@keyframes animate-box {
    0% {
        transform: rotateX(-20deg) rotateY(360deg);
    }

    100% {
        transform: rotateX(-20deg) rotateY(0deg);
    }
}

.cube .big span {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--clr);
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
    transform-style: preserve-3d;
    animation: animate-fullColor 6s ease-in-out infinite;
}

.cube:hover .big span {
    background: transparent;
    border: 10px solid rgb(255, 0, 68);
    filter: drop-shadow(0 0 20px rgb(255, 0, 68));
}

.cube .big span.top {
    transform: rotateX(90deg) translateZ(100px);
}

.cube .big span.top::before {
    content: '';
    position: absolute;
    inset: 0;
    transform: translateZ(-350px);
    background-color: rgba(0, 0, 0, .5);
    filter: blur(50px);
}

.cube2 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 85%;
    left: 53%;
    transform: translate(-50%, -350px);
}

.cube2 div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: animate-box-2 14s linear infinite;
    scale: 0.5;
}

@keyframes animate-box {
    0% {
        transform: rotateX(-20deg) rotateY(360deg);
    }

    100% {
        transform: rotateX(-20deg) rotateY(0deg);
    }
}

@keyframes animate-box-2 {
    0% {
        transform: rotateX(-20deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(-20deg) rotateY(360deg);
    }
}

.cube2 .big span {
    position: absolute;
    width: 200px;
    height: 200px;
    background: var(--clr);
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
    transform-style: preserve-3d;
    animation: animate-fullColor 6s ease-in-out infinite;
}

.cube:hover~.cube2 .big span {
    background: transparent;
    border: 10px solid rgb(255, 132, 0);
    filter: drop-shadow(0 0 20px rgb(255, 132, 0));
}

.cube2:hover .big span {
    background: transparent;
    border: 10px solid rgb(255, 132, 0);
    filter: drop-shadow(0 0 20px rgb(255, 132, 0));
}

.cube2 .big span.top {
    transform: rotateX(90deg) translateZ(100px);
}

.cube2 .big span.top::before {
    content: '';
    position: absolute;
    inset: 0;
    transform: translateZ(-350px);
    /* background-color: rgba(0, 0, 0, .5); */
    filter: blur(50px);
}

.explore-box {
    margin-top: 5 0px;
    padding-left: 200px;
}

#feature {
    margin-top: 160px;
}

.list-icon-feature {
    display: flex;
    list-style: none;
}

.list-icon-feature i {
    font-size: 30px;
    color: var(--color);
    border: 4px solid var(--color);
    border-radius: 50%;
    padding: 10px;
    animation: animate-fullColor 3s ease-in-out infinite;
}

.list-icon-feature-2 li:last-child i {
    padding: 10px 16px;
}

.feature-right {
    border-left: 2px solid #919191;
}

@keyframes animate-icon-feature {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.feature-title {
    color: #1DA09C;
    margin: 30px 0;
}

.feature-content {
    color: #919191;
    line-height: 30px;
    letter-spacing: 1px;
}

.feature-more {
    margin-top: 40px;
}

.feature-title-2 {
    color: #B98C32;
}

.feature-link {
    color: #B98C32;
}

#developer {
    margin-top: 150px;
}

#developer h3 {
    color: #1DA09C;
    display: inline-block;
    margin-bottom: 40px;
}

#developer p {
    color: #919191;
    width: 50%;
    margin: 0 auto;
}

.bowl {
    position: relative;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin: 0 auto;
    border: 8px solid transparent;
    animation: animate-bowl 5s linear infinite;
    transform-origin: bottom center;
}

@keyframes animate-bowl {
    0% {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        filter: hue-rotate(360deg);
        transform: rotate(0deg);
    }
}

.bowl::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border: 12px solid #444;
    width: 60%;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 8px #222;
}

.bowl::after {
    content: '';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 130px;
    height: 60px;
    background: rgba(255, 255, 255, 0.05);
}

.liquid {
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: #41c1fb;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    filter: drop-shadow(0 0 80px #41cafb);
    animation: animate-liquid 5s linear infinite;
    transform-origin: top center;
}

@keyframes animate-liquid {
    0% {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(20deg);
    }

    100% {
        filter: hue-rotate(360deg);
        transform: rotate(0deg);
    }
}

.liquid::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
    width: 100%;
    height: 20px;
    background: #1fa4e0;
    border-radius: 50%;
    filter: drop-shadow(0 0 80px #4ac1fb);
}

.shadow {
    position: absolute;
    top: calc(50% + 6px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 30px;
    background: rgba(0, 0, 0, .5);
    border-radius: 50%;
}

.developer-inner {
    margin-top: 40px;
}