head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css')
  link(rel='stylesheet', href='/css/homeDefault/footer-default.css')
  link(rel='stylesheet', href='/css/homeDefault/header-default.css')
body
  #wrapperHeaderDefault
    header.p-3.text-bg-dark
      .container
        .d-flex.flex-wrap.align-items-center.justify-content-space-center.justify-content-lg-start
          a.d-flex.align-items-center.mb-2.mb-lg-0.text-white.text-decoration-none(href='/')
            svg.bi.me-2(width='40', height='32', role='img', aria-label='Bootstrap')
              use(xlink:href='#bootstrap')
          ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
            li
              a.nav-link.px-2(href='#') Home
            li
              a.nav-link.px-2(href='#') Premium
            li
              a.nav-link.px-2(href='#') Explore
            li
              a.nav-link.px-2(href='#') Products
            li
              a.nav-link.px-2(href='#') Development
          .text-end
            form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3(role='search')
              input.form-control.form-control-dark.text-bg-dark(type='search', placeholder='Search...', aria-label='Search')
            button.btn.btn-outline-light.me-2(type='button') Login
            button.btn.btn-warning(type='button') Sign-up
  block header_default
  #wrapperFooterDefault
    #footer
      .container
        footer.py-5.text-bg-dark
          .row
            .col-6.col-md-2.mb-3
              h5 Section
              ul.nav.flex-column
                li.nav-item.mb-2
                  a.nav-link.p-0.text-muted(href='#') Home
                li.nav-item.mb-2
                  a.nav-link.p-0.text-muted(href='#') Features
                li.nav-item.mb-2
                  a.nav-link.p-0.text-muted(href='#') Pricing
                li.nav-item.mb-2
                  a.nav-link.p-0.text-muted(href='#') FAQs
                li.nav-item.mb-2
                  a.nav-link.p-0.text-muted(href='#') About
            .col-6.col-md-2.mb-3
              h5 Section
              ul.nav.flex-column
                li.nav-item.mb-2
                  a.nav-link.p-0.text-muted(href='#') Home
                li.nav-item.mb-2
                  a.nav-link.p-0.text-muted(href='#') Features
                li.nav-item.mb-2
                  a.nav-link.p-0.text-muted(href='#') Pricing
                li.nav-item.mb-2
                  a.nav-link.p-0.text-muted(href='#') FAQs
                li.nav-item.mb-2
                  a.nav-link.p-0.text-muted(href='#') About
            .col-6.col-md-2.mb-3
              h5 Section
              ul.nav.flex-column
                li.nav-item.mb-2
                  a.nav-link.p-0.text-muted(href='#') Home
                li.nav-item.mb-2
                  a.nav-link.p-0.text-muted(href='#') Features
                li.nav-item.mb-2
                  a.nav-link.p-0.text-muted(href='#') Pricing
                li.nav-item.mb-2
                  a.nav-link.p-0.text-muted(href='#') FAQs
                li.nav-item.mb-2
                  a.nav-link.p-0.text-muted(href='#') About
            .col-md-5.offset-md-1.mb-3
              form
                h5 Subscribe to our newsletter
                p Monthly digest of what&apos;s new and exciting from us.
                .d-flex.flex-column.flex-sm-row.w-100.gap-2
                  label.visually-hidden(for='newsletter1')
                  input#newsletter1.form-control(type='text', placeholder='Email address')
                  button.btn.btn-primary(type='button') Subscribe
          .d-flex.flex-column.flex-sm-row.justify-content-between.py-4.my-4.border-top
            p &copy; 2022 Company, Inc. All rights reserved.
            ul.list-unstyled.d-flex
              li.ms-3
                a.link-dark(href='#')
                  i.icon-footer.fa-brands.fa-instagram
              li.ms-3
                a.link-dark(href='#')
                  i.icon-footer.fa-brands.fa-facebook
              li.ms-3
                a.link-dark(href='#')
                  i.icon-footer.fa-brands.fa-twitter
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
  block footer_default